In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./extention_of_Z-Alizadeh_sani_dataset.csv')
df.head()

,Age,Weight,Length,Sex,BMI,DM,HTN,CurrentSmoker,EX-Smoker,FH,...,Lymph,Neut,PLT,EF-TTE,RegionRWMA,VHD,LAD,LCX,RCA,Cath
0,0.410714,0.583333,0.729167,Male,0.494721,0,1,1,0,0,...,0.603774,0.350877,0.329149,0.777778,0,N,Stenotic,Normal,Stenotic,CAD
1,0.660714,0.305556,0.354167,Fmale,0.451314,0,1,0,0,0,...,0.584906,0.403509,0.195258,0.555556,4,N,Stenotic,Stenotic,Normal,CAD
2,0.428571,0.083333,0.500000,Male,0.086105,0,0,1,0,0,...,0.584906,0.491228,0.285914,0.555556,2,mild,Stenotic,Normal,Normal,CAD
3,0.642857,0.263889,0.375000,Fmale,0.382846,0,1,0,0,0,...,0.207547,0.701754,1.000000,0.888889,0,Severe,Normal,Normal,Normal,Normal
4,0.357143,0.541667,0.270833,Fmale,0.836058,0,1,0,0,0,...,0.905660,0.122807,0.347280,0.777778,0,Severe,Normal,Normal,Normal,Normal

In [3]:
float_columns = df.select_dtypes('float64').columns
for column in float_columns:
    df[column] = pd.cut(x = df[column], bins= 3, labels= range(3), right= False)

df.head()

,Age,Weight,Length,Sex,BMI,DM,HTN,CurrentSmoker,EX-Smoker,FH,...,Lymph,Neut,PLT,EF-TTE,RegionRWMA,VHD,LAD,LCX,RCA,Cath
0,1,1,2,Male,1,0,1,1,0,0,...,1,1,0,2,0,N,Stenotic,Normal,Stenotic,CAD
1,1,0,1,Fmale,1,0,1,0,0,0,...,1,1,0,1,4,N,Stenotic,Stenotic,Normal,CAD
2,1,0,1,Male,0,0,0,1,0,0,...,1,1,0,1,2,mild,Stenotic,Normal,Normal,CAD
3,1,0,1,Fmale,1,0,1,0,0,0,...,0,2,2,2,0,Severe,Normal,Normal,Normal,Normal
4,1,1,0,Fmale,2,0,1,0,0,0,...,2,0,1,2,0,Severe,Normal,Normal,Normal,Normal

In [4]:
int_columns = df.select_dtypes('int64').columns
df[int_columns] = df.select_dtypes('int64').astype('category')

In [5]:
df.nunique()

Age                    3
Weight                 3
Length                 3
Sex                    2
BMI                    3
DM                     2
HTN                    2
CurrentSmoker          2
EX-Smoker              2
FH                     2
Obesity                2
CRF                    2
CVA                    2
Airwaydisease          2
ThyroidDisease         2
CHF                    2
DLP                    2
BP                     3
PR                     3
Edema                  2
WeakPeripheralPulse    2
Lungrales              2
SystolicMurmur         2
DiastolicMurmur        2
TypicalChestPain       2
Dyspnea                2
FunctionClass          4
Atypical               2
Nonanginal             2
ExertionalCP           1
LowTHAng               2
QWave                  2
StElevation            2
StDepression           2
Tinversion             2
LVH                    2
PoorRProgression       2
BBB                    3
FBS                    3
CR                     3
TG                     3
LDL                    3
HDL                    3
BUN                    3
ESR                    3
HB                     3
K                      3
Na                     3
WBC                    3
Lymph                  3
Neut                   3
PLT                    3
EF-TTE                 3
RegionRWMA             5
VHD                    4
LAD                    2
LCX                    2
RCA                    2
Cath                   2
dtype: int64

In [6]:
new_dataset = pd.get_dummies(data=df)
new_dataset.head()

,Age_0,Age_1,Age_2,Weight_0,Weight_1,Weight_2,Length_0,Length_1,Length_2,Sex_Fmale,...,VHD_Severe,VHD_mild,LAD_Normal,LAD_Stenotic,LCX_Normal,LCX_Stenotic,RCA_Normal,RCA_Stenotic,Cath_CAD,Cath_Normal
0,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,1,1,0
1,0,1,0,1,0,0,0,1,0,1,...,0,0,0,1,0,1,1,0,1,0
2,0,1,0,1,0,0,0,1,0,0,...,0,1,0,1,1,0,1,0,1,0
3,0,1,0,1,0,0,0,1,0,1,...,1,0,1,0,1,0,1,0,0,1
4,0,1,0,0,1,0,1,0,0,1,...,1,0,1,0,1,0,1,0,0,1

In [7]:
new_dataset = new_dataset.drop(['Cath_CAD', 'Cath_Normal'], axis= 1)
new_dataset.columns

Index(['Age_0', 'Age_1', 'Age_2', 'Weight_0', 'Weight_1', 'Weight_2',
       'Length_0', 'Length_1', 'Length_2', 'Sex_Fmale',
       ...
       'VHD_Moderate', 'VHD_N', 'VHD_Severe', 'VHD_mild', 'LAD_Normal',
       'LAD_Stenotic', 'LCX_Normal', 'LCX_Stenotic', 'RCA_Normal',
       'RCA_Stenotic'],
      dtype='object', length=144)

In [8]:
new_dataset = pd.concat((new_dataset, df.Cath), axis= 1)
new_dataset.head()

,Age_0,Age_1,Age_2,Weight_0,Weight_1,Weight_2,Length_0,Length_1,Length_2,Sex_Fmale,...,VHD_N,VHD_Severe,VHD_mild,LAD_Normal,LAD_Stenotic,LCX_Normal,LCX_Stenotic,RCA_Normal,RCA_Stenotic,Cath
0,0,1,0,0,1,0,0,0,1,0,...,1,0,0,0,1,1,0,0,1,CAD
1,0,1,0,1,0,0,0,1,0,1,...,1,0,0,0,1,0,1,1,0,CAD
2,0,1,0,1,0,0,0,1,0,0,...,0,0,1,0,1,1,0,1,0,CAD
3,0,1,0,1,0,0,0,1,0,1,...,0,1,0,1,0,1,0,1,0,Normal
4,0,1,0,0,1,0,1,0,0,1,...,0,1,0,1,0,1,0,1,0,Normal

In [9]:
new_dataset.to_csv('./binarized.csv', index=False)